.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  margin: 0;
  padding: 0;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.btn-dark{
  color: black;
  background-color: white;
  border:solid 1px white ;
  border-radius: 5px;
  margin-bottom: 0;
}
.btn-dark:hover{
  background-color:grey;
  
}
.btn-outline-light{
  color: black;
  background-color:linear-gradient(300deg, #00bfff, #ff4c68, #ef8172); 
  border: solid 1px white;
}
.btn-outline-light:hover{
  color: black;
  background:white;
}
.col-lg-4 > h2{
  display: flex;
  justify-content: center;
  text-align: center;
}
.w-100{
  background-color: grey;
  color: white;
}
.w-100:hover{
  background-color: white;
  color: black;
}
.w-101{
  background-color: grey;
  color: white;
}
.w-101:hover{
  background-color: white;
  color: black;
}
.w-102{
  background-color: grey;
  color: white;
}
.w-102:hover{
  background-color: white;
  color: black;
}
.card-header{
  color: white;
  background-color:RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;;
}
.gradie{
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
}
